<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ログイン</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="site-name-login">
                <h1>業務報告システム</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <main>
            <div class="login-form">
                <h1>ログイン</h1>
                <form th:action="@{/admin/login/process}" method="POST">
                    <input class="form-text" type="email" name="adminEmail" placeholder="ユーザーメール" required>
                    <div class="password-field">
                        <input class="form-text" type="password" name="adminPassword" placeholder="ユーザーパスワード" required>
                        <button type="button" class="toggle-password">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <button type="submit">ログイン</button>
                </form>
                <div class="link">
                    <a th:href="@{/admin/register}" class="register-link">新規登録へ</a>
                    <a th:href="@{/admin/forgot-password}" class="forgot-password-link">パスワードを忘れた方はこちら</a>
                </div>
                <div th:if="${errorMessage != null}">
                    <p th:text="${errorMessage}" style="color: red;"></p>
                </div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/admin_login_scripts.js}"></script>
</body>
</html>
