<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>

<body>
    <header>
        <div class="header-content">
            <div class="site-name">
                <h2>サイト名 </h2>
            </div>

            <ul class="header-item">
                <li class="item-list" id="item-icon"><a href="">アイコン</a></li>

                <li class="item-list"><a href="">管理者名前</a></li>

                <li class="item-list"><a href="">管理者情報変更</a></li>

                <li class="item-list"> <a href="">ユーザ追加</a></li>

                <li class="item-list"><a href="">ユーザ一覧</a> </li>

                <li class="item-list"><a href="">報告事項一覧</a></li>

                <li class="item-list"><a href="">ログアウト</a></li>

            </ul>

        </div>
    </header>






    <footer>
        <div class="footer-content">
            <div>
                <ul class="footer-item">
                    <li><a href="">情報変更</a></li>
                    <li>|</li>
                    <li><a href="">ログアウト</a></li>
                </ul>
    
            </div>
            <div>
                <p> Copyright &copy; 2024</p>
            </div>
        </div>
    </footer>

</body>

</html>