<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ユーザ報告詳細一覧</title>
<link rel="stylesheet" th:href="@{/css/admin_report_details.css}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>

	<header id="header-user">
		<div class="header-content">
			<div class="site-name">
				<h1>業務報告システム</h1>
			</div>
		<ul class="header-item">
            <li class="item-list">
               <img id="item-icon" th:src="@{'/' + ${users?.userIcon}}" />
            </li>
            <li class="item-list"><a class="link-user" th:text="${users.userName}">ユーザー名前</a></li>
            <li class="item-list"><a class="link-user" th:href="@{/user/report/list}">報告一覧</a></li>
            <li class="item-list"><a class="link-user" th:href="@{/user/info/edit/{userId}(userId=${users.userId})}">情報変更</a></li>
            <li class="item-list"><a class="link-user" th:href="@{/user/logout}">ログアウト</a></li>
         </ul>

		</div>
	</header>

	<main>
		<div class="content">
			<a th:href="@{/user/report/list}" class="back-link"><i class="fas fa-angle-double-left"></i>
				ホームに戻る</a>

			<div class="content-text">

				<div class="title">
					<h1>報告詳細</h1>
				</div>

				<div class="report-title" id="title-con">
					<label for="report-title">報告名</label>
					<p class="report-name" th:text="${report.reportTitle}">報告名</p>
				</div>

				<div class="item">
					<label class="add-file">添付ファイル</label>
					<p class="content-item">
						ファイル名: <span th:text="${report.reportFileName}"></span> 
						<!--a href="" class="download-button">ダウンロード</a-->
						<img id="report-image" th:src="@{/uploads/directory/{imagePath}(imagePath=${report.reportFileName})}" alt="" >				                  
					</p>
				</div>

				<div class="report-summary">
					<label for="summary">報告事項</label>
					<textarea id="summary" rows="10" readonly
						th:text="${report.contentsOfReport}">ご指摘いただいた内容を修正いたしました。</textarea>
				</div>

				<div class="reporter">
					<label for="reporter">管理者</label>
					<p id="reporter">
						<span th:text="${admin.adminName}">管理者1</span>
					</p>
				</div>

				<div class="submit-container">
					<a
						th:href="@{/user/report/editReport(reportId=${report.reportId})}"
						class="submit-button">編集画面へ</a>
				</div>
			</div>
		</div>
	</main>

	<footer id="footer-user">
		<div class="footer-content" id="footer-report">
			<div>
				<ul class="footer-item" id="footer-item-report">
					<li><a href="">情報変更</a></li>
					<li>|</li>
					<li><a href="">ログアウト</a></li>
				</ul>
			</div>
			<div>
				<p>Copyright &copy; 2024</p>
			</div>
		</div>
	</footer>
</body>

</html>

