/************************bodyと＊全体のスタイル********************************/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
}

/************************bodyと＊全体のスタイルは以上です************************/


/**************************報告事項一覧（検索結果）******************************/
.search-container {
   margin-bottom: 20px; 
   display: flex;
   justify-content: center;
   padding-top: 150px;
   align-items: center;
   gap: 10px;
  
}
.search-container input[type="text"] {
   width: 300px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-right: 15px;
   margin-left: 20px;
   outline-color: #8a9ca5;
}
.search-container button {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #8a9ca5;
   color: white;
   cursor: pointer;
}
/**************************報告事項一覧（検索結果）*************/


/********************************** user_list画面************************************/
.user-list {
   padding:30px;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   /*position: relative;*/
   left:60px;
   gap: 15px;
   display: flex;
}
.user-card {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 15px;
      gap: 0 20px;
      margin-bottom: 15px; 
      align-items: center;
      display: flex;
      padding: 20px;
      width: 900px;
      /*position: relative;*/
}
.user-image {
   width: 100px;
   height: 100px;
   border: 1px solid #ccc;
   background-color: #eaeaea;
}
.user-info {
   flex-grow: 1;
}
.user-info p {
   margin: 5px 0;
}

   
.delete-button,.detail-button {
   background-color: #989696;
   color: white;
   border: none;
   cursor: pointer;
   /*position: relative;*/
   width: 80px;
   padding:5px;
   border-radius:3px ;  
   border: 1px solid #ccc; 
}
.detail-button{
   background-color: #4682b4;
   color: white;
   text-align: center;
   font-size: small;
}
#delete-button1,#delete-button2{
   position: absolute; 
   right: 15px;
   bottom: 15px;  
}
/********************************** user_list画面************************************/


/**********************************admin_reports画面************************************/ 
.report-list {
   padding-top: 5px;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   /*position: relative;*/
   /*gap: 15px;*/
   display: flex;
}
.report-card {
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 900px;
   display: flex;
   padding: 20px;
   gap: 0 20px;
   align-items: center;
   border-radius:15px;
   margin-bottom: 15px;
}
.report-image {
   width: 100px;
   height: 100px;
   border: 1px solid #ccc;
   background-color: #eaeaea;
}
#report-image{
   width: 200px !important;
   height:auto ;
}
.report-info {
   flex-grow: 1;
   margin-top: -20px;
}
.report-info h3 {
   margin-bottom: 10px;
}
.report-info p {
   margin-bottom: 10px;
}

.received ,.unconfirmed,.correction{
   font-size: smaller;
   background-color: #5cb85c;
   width: 70px;
   padding:3px;
   border-radius:3px ;
   color: #fff;
   /*position:relative;*/
   margin-top: -10px;
   text-align: center;
}
.unconfirmed {
   background-color: #d9534f;  
}
.correction {
   background-color: #0275d8; 
}
.report-actions {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.reporter-received {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   margin-top: -15px; 
}
.report-username {
   text-align: right;
   margin-bottom: 20px;
}
.detail-button-content {
   display: flex;
   flex-direction: row; /* 将按钮横排排列 */
   gap: 20px; 
}
#footer-report{
   height: 90px;
}
#footer-item-report{
   justify-content: center;
   padding: 15px;
}
/**********************************admin_reports画面************************************/ 


/*********************************** user_reports画面************************************/ 
.report-button{
   border: 0.5px solid #8dec8d;
   background-color: rgb(215, 238, 212);
   width: 110px;
   height: 35px;
   font-size: large;
   font-weight: bolder;
   border-radius: 5px;
   color:#0d2d3d;
}
.reporter{
   display: block;
   margin-top: 10px; 
   text-align: right; 
   position:relative;  
}
.report-button-content {
   margin-left: 21%; 
   /*display: flex;*/
   /*justify-content: center;*/
   /*position: relative; */
   left: -390px;
   margin-bottom: 15px;
}

/*********************************** user_create,user_info_edit画面************************************/ 

.content {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 145px;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #c9d3de;
    border-radius: 40px;
    margin-top: 20px;
    background-color: #f8fafb;
}

.back-button {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color:  #5475a8;;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    text-align: center;
}

.form-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.icon-container {
    text-align: center;
    margin-right: 30px;
    margin-left: 10px;
}

.icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.input-fields {
    flex-grow: 1;
}

.input-group {
    margin-bottom: 20px;
    width: 400px;
    
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: #8a9ca5;
}

#input-button{
    align-items: center;
    position: relative;
}
.toggle-password{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    margin-top: -30px;
    font-size: 20px;
    color: #346189;
}
#fas{
right: 700px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cancel-button {
    background-color: #f6d1c9;
    border-color: #edb9a798;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
   
}

.submit-button {
    background-color: #b2ebc3;
    border-color: #b3e6c2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}
.error-message {
    color: red;
    text-align: center;
    font-size: 13px;
}

